body{
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
h1{
    color:white;
    text-align: center;
}
.button-flotante {
  font-size: 1rem;
  color: black;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  width: 100px;
  border-radius: 5px;
  letter-spacing: 1.5px;
  background-color: #eb5f28c5;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 99;
}

.button-flotante:hover {
  background-color: #dd9b6d;
}
.pescadores{
    display: flex;
    flex-wrap: wrap;
}
.container{
    margin: auto;
    background-color:#ccc5b9;
    width: 40%;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .container ul, li {
      padding: 0;
      margin: 0;
      list-style: none;
  }
  
  ul.slider{
    position: relative;
    width: 100%;
    height: 500px;
  }
  
  ul.slider li {
      position: absolute;
      left: 0px;
      top: 0px;
      opacity: 0;
      width: inherit;
      height: inherit;
      transition: opacity .5s;
      background:#ccc5b9;
  }
  
  ul.slider li img{
    width: 100%;
    height: 500px;
    object-fit: contain;
  }
  
  ul.slider li:first-child {
      opacity: 1; 
  }
  
  ul.slider li:target {
      opacity: 1; 
  }
  
  .galeria{
    text-align: center;
    margin: 10px;
  }
  
  .galeria li{
    display: inline-block;
    text-align: center;
  }
  
  .galeria li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: black;
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    border-radius: 100%;
    margin-top: 20px;
  }
  @media (max-width:768px){
    .container{
      width:80%;
    }
    .button-flotante{
      width: 90px;
      font-size: 0.8rem;
      padding: 5px;
    }
  }